autopep8==1.5.4
backcall==0.2.0
bcrypt==3.2.0
cffi==1.14.2
colorama==0.4.3
decorator==4.4.2
Django==2.2.4
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
mysql-connector-python==8.0.21
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.6
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
traitlets==4.3.3
wcwidth==0.2.5
