<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{this_workout.name}}</h1>
    <h2>Description: {{this_workout.description}}</h2>
    <p>Set 1: {{this_workout.set1}} @ {{this_workout.weight1}}</p>
    <p>Set 2: {{this_workout.set2}} @ {{this_workout.weight2}}</p>
    <p>Set 3: {{this_workout.set3}} @ {{this_workout.weight3}}</p>
    <p>Set 4: {{this_workout.set4}} @ {{this_workout.weight4}}</p>
    <p>Set 5: {{this_workout.set5}} @ {{this_workout.weight5}}</p>
    <p><a href="/dashboard">Home</a></p>
</body>

</html>